# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Local env files - not checked in
.env.config.local
.env.local
.env.config

# IDE files
.vscode/
*.iml
.idea/

# Allure
build/allure-results/
